/*==================================================
* Project 2 css styles
====================================================*/
body {
	padding: 0;
	margin: 0;
	background-color: #FFD700;
}
div#wrapper {
	width: 80%;
	margin: auto;
	background-color: #FFA500;
	padding: 10px 5% 5px 5%;
}
form, .outputDisplay {
	border: 2px solid #0000CD;
	Padding: 10px;
	width: 500px;
}
ul {
	list-style: none;
}
li {
	padding: 10px;
	padding-bottom: 5px;
}
p, fieldset {
	margin-bottom: 25px;
}
fieldset {
	border-color: #000;
}
fieldset p {
	margin-bottom: 5px;
	margin-top: 10px;
}
label {
	display: inline-block;
	font-weight: bold;
}
span.error {
	color: red;
	display: inherit;
	font-size: .95em;
	font-weight: bold;
	margin-left: 15px;
}
button {
	margin-left: 25px;
	border: 2px solid;
	padding: 5px;
	font-weight: bold;
	margin-top: 25px;
}
footer {
	background-color: #F0FFF0;
	margin-top: 100px;
	padding: 10px;
}
input[type="text"], select, button {
	border-radius: 10px;
	background-color: #FAFAD2;
	padding: 5px;
}
.outputDisplay {
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 25px;
}
.dishDisplayed {
	font-size: 1.1em;
	background-color: #F5F5DC;
	margin-bottom: 25px;
}
.outputHide {
	display: none;
}
