body {
	background-color: #E6E6FA;
}
.content {
	margin-left: 100px;
	background-color: #fff;
	width: 500px;
	padding: 20px;
}
div#wrapper {
	background-color: #4863A0;
}
header.banner {
	color: #fff;
}
